@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-box {
  width: 160px;          /* espace fixe */
  overflow: scroll;
  white-space : pre;
  border-radius: 12px;
  padding: 4px 8px;
}

.text-move {
  display: inline-block;
  padding-left: 100%;
  animation: move-text 6s linear infinite;
}

@keyframes move-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}





